.header {
  width: 100vw;
  @apply flex justify-between fixed px-12 py-8 text-base text-gray-200 uppercase font-normal;
  letter-spacing: 1px;
  .leftSide {
    span {
      // @apply text-gray-200;
    }
  }
  .rightSide {
    width: 40%;
    @apply flex justify-between;
  }
}