.contentCell{
	@apply flex flex-col items-center relative;
	animation-name: opacity;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	@keyframes opacity {
		from { @apply opacity-0; }
		to { @apply opacity-100; }
	}
	.textCopy{
		@apply absolute laptop:left-1/2 tablet:left-1/3 bottom-0 rounded-lg w-full py-2 px-4 opacity-0 z-10;
		background-color: var(--red-medium2);
		transition: 0.2s all ease;
		width: 220px;
		&.show{
			@apply opacity-100 bottom-12;
		}
	}
	.content{
		@apply flex flex-col items-center relative laptop:w-1/2 tablet:w-3/4 tablet:mb-32 mobile:mb-16 mobile:px-8;
		.pictureContainer{
			@apply absolute opacity-50 laptop:-right-[430px] laptop:-top-20 mobile:-top-16 mobile:right-0;
			img{
				@apply laptop:w-[400px] tablet:w-[250px] mobile:w-[150px];
			}
		}
		.aboutContainer{
			@apply flex flex-col justify-between;
			p{
				@apply tablet:text-base mobile:text-sm z-10 leading-8;
				&:not(:first-child){
					@apply mt-8
				}
				span{
					@apply font-semibold;
					color: var(--red-medium);
				}
				&.citation{
					@apply italic;
				}
			}
			.mediasContainer{
				@apply flex items-center w-full mt-14 tablet:flex-row mobile:flex-col;
				.pictos{
					@apply flex flex-row tablet:mt-2 mobile:mt-8;
					.linkedin{
						@apply tablet:ml-8 mobile:ml-0 mr-10;
					}
					img{
						@apply cursor-pointer;
						width: 40px;
						height: 40px;
						transition: 0.2s all ease;
						&:hover{
							transform: scale(1.2);
						}
					}
					.mailSection{
						@apply relative;
						.mail{
							width: auto;
							height: 45px;
						}
					}
			 }
			}
		}
	}
}
