.reactionClickSection {
	.nextLevel{
		@apply absolute bottom-36 right-52;
	}
	.titleStepGame {
		@apply text-left text-4xl;
		color: var(--red-medium);
	}
	.reactionClick{
		.reactionClickContent{
			@apply mt-10 flex items-center flex-col;
			.goNextGame{
				@apply flex items-center flex-col;
				p{
					&.displayTime{
						@apply text-3xl font-medium mt-5;
					}
				}
				button {
					@apply mt-10
				}
			}
			.reactionClickSquare{
				@apply flex flex-col justify-center items-center w-2/3;
				height: 200px;
				border-radius: 6px;
				cursor: pointer;
				color: #e5e7eb;
				&.off, &.tooSoon, &.ended {
					background-color: #222;	
				}
				&.waiting {
					background-color: var(--red-medium);	
				}
				&.clickable {
					background-color: #00c9b7;
				}
				.svgFlash{
					width: 50px;
				}
				p{
					@apply font-medium text-xl mt-5;
				}
			}
		}
	}
}