.button {
	@apply font-normal py-2 px-4 rounded inline-flex items-center justify-center;
	transition: 0.1s all ease-in;
	&.primary {
		background-color: var(--gray-light2);
		span{
			color: var(--gray-dark);
		}
		&:hover{
			background-color: var(--gray-medium);
		}
	}
	&.secondary {
		color: white;
		background-color: var(--red-light);
		&:hover {
			background-color: var(--red-medium);
		}
		&:disabled{
			background-color: var(--red-dark);
		}
		.svg{
			color: var(--gray-light);
		}
	}
	.svg{
		@apply w-6 h-6 mr-2;
	}
}