.contentCell{
	@apply flex flex-col items-center w-full;
	animation-name: opacity;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	@keyframes opacity {
		from { @apply opacity-0; }
		to { @apply opacity-100; }
	}
	.containerSkills{
		@apply flex flex-col items-center;
		height: 50%;
		.topMenu{
			@apply flex tablet:items-start relative laptop:gap-8 mobile:gap-14 tablet:w-full mobile:w-2/3 mobile:flex-wrap mobile:justify-center;
			.skillCard{
				@apply flex justify-center items-center laptop:mx-4 laptop:pr-8 pb-2;
				width: fit-content;
				cursor: pointer;
				&.active{
					h3{
						opacity: 1;
					}
				}
				&.active{
					svg{
						opacity: 1;
					}
				}
				svg{
					color: var(--red-light);
					width: 35px;
					height: 35px;
					opacity: 0.3;
					transition: 0.4s all ease;
				}
				h3{
					@apply laptop:block mobile:hidden text-base tracking-wider font-bold ml-4 pb-6 opacity-30;
					color: var(--gray-light);
					text-shadow: 0 0 82px var(--red-light);
					transition: 0.4s all ease;
					max-height: 20px;
				}

			}
		}
		.contentSkill{
			
			@apply laptop:mt-28 tablet:mt-20 mobile:mt-20 mb-20 tablet:w-[55%] mobile:w-[70%];
			.framework{
				@apply flex flex-col;
				.frameworkMedias{
					@apply flex tablet:gap-x-32 mobile:gap-x-24 gap-y-24 flex-wrap justify-between items-end;
				}
			}
		}
	}
}
