.card{
  @apply flex flex-col pb-6;
  border-bottom: 1px solid var(--red-medium);
  transition: 0.1s all ease-in;
  .header{
    @apply flex tablet:flex-row items-center justify-between w-full cursor-pointer;
    .part{
      @apply flex items-center gap-x-6;
      .name{
        @apply font-semibold laptop:w-[380px] tablet:w-[240px] mobile:w-[155px] tablet:text-base mobile:text-sm;
      }
      .duration{
        @apply rounded-sm px-4 py-[2px] laptop:text-base mobile:text-xs;
        background-color: var(--red-medium);
        color: var(--gray-light);
      }
      .years{
        @apply laptop:text-base mobile:text-sm;
      }
      .chevron{
        color: var(--gray-light);
        width: 25px;
        transition: 0.2s all ease-in;
        &.isOpen{
          transform: rotate(180deg);
        }
      }
    }
  }
  .content{
      @apply pt-6 px-4;
  }
}