.memoryNumberSection {
	width: 100%;
	.nextLevel{
		@apply absolute bottom-36 right-52;
	}
	.memoryNumber{
		.titleStepGame {
			@apply text-left text-4xl mb-8;
			color: #d3555c;
		}
		.generationContent{
			@apply mt-20 flex items-center flex-col;
			.level{
				@apply text-2xl font-medium mb-8;
			}
			.generatedNumbers{
				@apply flex;
				.generatedNumber{
					@apply font-medium text-4xl flex justify-center items-center;
					width: 60px;
					height: 60px;
					background-color: var(--gray-light);
					color: #d3555c;
					border-radius: 5px;
					margin: 10px;
				}
			}
		}
		.inputResponse{
			@apply flex flex-col items-center;
			label {
				color: var(--red-medium)
			}
		}
		.correctAnswer{
			.nextGame{
				@apply flex flex-col justify-center items-center;
				.title{
					@apply font-normal text-4xl;
				}
				button{
					@apply mt-6;
				}
			}
		}
		.wrongAnswer{
			@apply flex flex-col justify-center items-center;
			.numberReveal {
				@apply text-2xl mb-4;
				.wrong {
					color:#d3555c;
				}
			}
			.correctReveal{
				@apply text-2xl;
			}
			button{
				@apply mt-4;
			}
		}
	}
}