.title{
  @apply mobile:mb-20 laptop:mb-40 tablet:mt-20 mobile:mt-28 flex flex-col items-center justify-center w-full tracking-wider;
  h2{
    @apply uppercase font-medium laptop:text-4xl tablet:text-3xl mobile:text-lg pb-10 relative font-light text-center w-full;
    color: var(--red-medium);
    span{
      @apply absolute laptop:-top-7 tablet:-top-2 mobile:-top-2 laptop:text-8xl tablet:text-5xl mobile:text-4xl left-0 right-0 text-center z-0 font-bold;
      opacity: 0.05;
    }
  }
  hr{
    width: 55px;
  }
}