.cognitiveSection {
	.nextLevel{
		@apply absolute bottom-36 right-52;
	}
	.titleStepGame {
		@apply text-left text-4xl;
		color: var(--red-medium);
	}
	.cognitive{
		.cognitiveGame{
			@apply mt-10 flex flex-col items-center justify-center;
			.infoStartGame{
				@apply mt-10 mb-10 font-normal text-lg ;
				.important{
					@apply font-medium;
					color: var(--red-medium);
					&.timer{
						@apply text-2xl;
					}
				}
			}
			.cognitiveGameContent{
				@apply flex justify-center relative;
				.comboSection {
					@apply absolute  text-2xl;
					left: -40px;
					top: -20px;
					.combo{
						@apply font-bold text-4xl ml-1;
						&.fire {
							color:var(--red-medium);
						}
					}
				}
			}
			.infoEndGame{
				@apply flex flex-col items-center justify-center;
				.title{
					@apply font-normal text-4xl;
					color: var(--red-medium);
				}
				.value{
					@apply text-3xl  font-medium mt-5;
				}
				button {
					@apply mt-8;
				}
			}
			.svg{
				width: 200px;
				&.red{
					color: var(--red-medium);
				}
				&.white {
					color: var(--gray-light)
				}
			}
		}
	}
}