.contentHistory{
  @apply flex flex-col items-center w-full;
  animation-name: opacity;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	@keyframes opacity {
		from { @apply opacity-0; }
		to { @apply opacity-100; }
	}
  .content{
    @apply flex laptop:flex-row mobile:flex-col items-start justify-between w-4/5 laptop:gap-x-40 mobile:gap-y-20 mb-20;
    .section{
      @apply flex flex-col laptop:w-1/2 mobile:w-full items-center;
      .icon{
        @apply rounded-full w-fit p-2 mb-16;
        background-color: var(--gray-light);
        svg{
          @apply tablet:w-[50px] mobile:w-[35px];
          color: var(--red-light);
        }
      }
      .cards{
        @apply flex flex-col gap-y-6 w-full;
        .localisation{
          @apply flex;
          .localisationSvg{
            @apply mr-2;
            color: var(--red-medium);
            width: 20px;
          }
          span{
            color: var(--red-medium)
          }
        }
        .presentation{
          @apply flex mt-4 tablet:text-base mobile:text-sm;
          img{
            @apply ml-8;
            height: 70px;
            width: auto;
          }
        }
        .tags{
          @apply flex flex-wrap mt-6 gap-4;
          .tag{
            @apply rounded-full w-fit px-2;
            background-color: var(--red-medium);
            span{
              @apply tablet:text-sm mobile:text-xs;
              color: var(--gray-light);
            }
          }
        }
      }
    }
  }
}