.introContainer {
  @apply flex flex-col items-center;
  .intro{
    .label{
      color: #d3555c;
      @apply font-medium;
    }
    .value{
      @apply text-gray-200 font-light;
    }	
    .block {
      @apply mt-6;
    }
  }
}