.bgModal{
	@apply w-screen h-screen top-0 left-0 fixed cursor-pointer z-10;
	backdrop-filter: blur(3px);
}
.modalContainer{
	@apply absolute z-10 overflow-auto overflow-y-scroll pb-10 bg-white py-6 px-8 rounded-lg laptop:w-7/12 tablet:w-full laptop:h-[80%] mobile:h-auto mobile:top-36 ;
	background-color: var(--gray-dark2);
	.modal{
		@apply relative;
		h3{
			@apply text-center tablet:text-3xl mobile:text-xl  font-medium tablet:m-0 mobile:mx-20;
			color: var(--red-medium);
		}
		h4{
			@apply mb-6 mt-8 font-semibold tablet:text-xl mobile:text-lg;
			color: var(--red-light);
			opacity: 0.8;
		}
		.close{
			@apply absolute top-0.5 right-0.5 cursor-pointer;
			width: 35px;
			transition: 0.1s all ease;
			color: var(--gray-light);
			&:hover{
				color: var(--red-medium);
			}
		}
		.description{
			@apply flex justify-center mt-8 tablet:text-base mobile:text-sm;
			:first-child:not(p){
				@apply laptop:w-9/12;
			}
			p:not(:last-child){
				margin-bottom: 10px;
			}
			span{
				@apply font-semibold;
				color: var(--red-medium);
			}
		}
		.carousel{
			@apply laptop:mt-20;
			height: 550px;
			button > span {
				background-color: var(--gray-dark2);
			}
		}
		.features{
			li{
				@apply tablet:text-base mobile:text-sm;
			}
		}
		.bottomInfos{
			@apply flex laptop:items-end justify-between tablet:flex-row mobile:flex-col mobile:items-center;
			.technos {
				@apply flex flex-wrap gap-12 tablet:mt-8 mobile:mt-20 mobile:justify-center tablet:max-w-[57%] mobile:max-w-full;
				img{
					height: 40px;
				}
			}
		}
	}
}