.responsiveMessage{
	@apply flex justify-center items-center h-screen w-screen bg-zinc-900;
	.content{
		@apply flex flex-col gap-12 p-20;
		.text{
			@apply text-center;
		}
		.infos{
			@apply text-xl;
		}
		.access{
			@apply font-semibold text-lg mt-4;
		}
	} 
}
.loadingPageSection {
	@apply h-screen;
	.skipGame{
		@apply flex absolute top-4 left-4;
		opacity: 0.7;
		transition: 0.1s all ease-in;
		cursor: pointer;
		&:hover{
			opacity: 0.7;
			color: var(--red-light);
		}
	}
	.nextLevel{
		@apply absolute bottom-36 right-52;
	}
	.loadingPage {
		@apply w-screen h-screen p-20 flex flex-col justify-between items-center;
		background: url("/bg-loading.png");
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
		.titleGame {
			@apply text-left text-5xl;
			animation: flicker 1.5s infinite alternate;
			color: white;
			opacity: 0;
			height: 0;
			transition: 1s opacity ease;
			&.show{
				height: auto;
				opacity: 1;
			}
			/* Flickering animation */
			@keyframes flicker {
					
				0%, 18%, 22%, 25%, 53%, 57%, 100% {
					text-shadow:
						0 0 7px #fff,
						0 0 10px #fff,
						0 0 21px #fff,
						0 0 42px var(--red-light),
						0 0 82px var(--red-light),
						0 0 92px var(--red-light),
						0 0 102px var(--red-light),
						0 0 151px var(--red-light);
				}
				
				20%, 24%, 55% {        
						text-shadow: none;
				}    
			}
		}
	}
}