.portfolio {
	@apply h-screen flex justify-center;
	background-color: var(--dark-light);
	min-height: 100vh;
	height: auto;
	animation-name: opacity;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	@keyframes opacity {
		from { @apply opacity-0; }
		to { @apply opacity-100; }
	}
	.absoluteBtn{
		@apply absolute laptop:top-12 laptop:right-14 tablet:top-4 tablet:right-4 z-10 mobile:top-[35px] mobile:right-8;
	}
	.title{
		@apply uppercase text-3xl font-normal text-center mt-20;
		letter-spacing: 2px;
		color: var(--gray-light);
	}
	.brainContainer{
		@apply absolute laptop:w-[46%] tablet:w-10/12 laptop:left-[27%] laptop:top-[20%] tablet:left-16 mobile:top-1/4 ;
    // left: 26%;
		transition: 0.5s all ease-in;
		&.reduce{
			top: 5%;
			left: 3%;
			width: 10%;
			@apply laptop:w-[10%] mobile:w-[15%];
			cursor: pointer;
			z-index: 1;
		}
		.brain {
			@apply relative;
			transition: 0.5s all ease-in;
		}
		.cell{
			@apply absolute;
			cursor: pointer;	
			opacity: 0.6;
			transition: 0.3s opacity ease, 1.5s filter ease;
			&.isShiny{
				opacity: 1;
			}
			&:hover{
				opacity: 1;
			}
			&.intro{
				top: 56.9%;
				left: 2.6%;
				width: 15.5%;
			}
			&.history{
				top: 14%;
				left: 40.2%;
				width: 26.6%;
			}
			&.skill{
				top: 52.6%;
				left: 65.6%;
				width: 13.2%;
			}
			&.project{
				top: 81.8%;
				left: 59%;
				width: 28.6%;
			}
		}
	}
}