.block{
  width: 400px;
  height: 200px;
  background-color: var(--dark-light);
  @apply relative;
  border-radius: 10px;
  .cover{
    @apply flex flex-col items-center justify-end w-full absolute top-0 left-0;
    height: 70%;
    background-color: var(--red-medium2);
    transition: 0.3s all ease-in;
    .icon{
      @apply p-4 mt-6;
      background-color: var(--dark-light);
      border-radius: 50%;
      box-shadow: 0px 0px 13px 5px rgba(0,0,0,0.45);
      margin-bottom: -33px;
      .svg{
        transition: 0.2s all ease-in;
        width: 30px;
        height: 30px;
        color: var(--red-medium2);
      }
    }
    .title{
      @apply font-semibold text-lg uppercase;
      color: var(--dark-light);
      transition: 1.5s all ease;
    }
  }
  &:hover{
    .title{
      transition: 0.1s all ease;
      opacity: 0;
    }
    .cover{
      height: 0%;
    }
    .details {
      opacity: 1;
      transition: 0.5s all ease-in;
    }
  }
  .details{
    @apply h-full w-full p-6 pt-12;
    opacity: 0;
    transition: 0.2s all ease-in;
    .content{
      @apply flex mt-4;
      .titleContent{
        @apply uppercase;
        width: 80px;
        color: var(--red-medium)
      }
      .infos{
        .pipe{
          color: var(--red-medium);
        }
      }
    }
  }
}