.loaderSection{
  @apply flex flex-col justify-end items-center w-full;
  .progressBarSection{
    width: 50%;
    @apply laptop:w-1/2 tablet:w-4/5;
    .infosProgressBar{
      @apply flex justify-between;
      @apply mb-3;
      .valueLoader{
        @apply text-2xl font-bold dark:text-gray-200;
        color: var(--red-light)
      }
      .error{
        @apply uppercase font-bold text-xl;
        color: red;
        letter-spacing: 1px;
      }
      .loading{
        @apply flex items-center;
        opacity: 0.8;
        .loadingText {
          width: 100%;
          line-height: 10px;
          span {
            display: inline-block;
            margin: 0 5px;
            @apply text-xl;
            font-family: 'Quattrocento Sans', sans-serif;
            @for $i from 0 through 11 {
              &:nth-child(#{$i + 1}) {
                filter: blur(0px);
                animation: blur-text 1.5s (#{$i/5})+s infinite linear alternate;
              }
            }
          }
        }
      }
    }
    .loaderValue{
      @apply h-2.5 rounded-full;
      background-color: var(--red-medium);
      transition: 0.2s width ease;
    }
    
    @keyframes blur-text {
      0% {filter: blur(0px);}
      100% {filter: blur(4px);}
    }
    
  }
}