.sequenceMemorySection {
	.nextLevel{
		@apply absolute bottom-36 right-52;
	}
	.titleStepGame {
		@apply text-left text-4xl;
		color: var(--red-medium);
	}
	.sequenceMemory{
		.generationContent{
			@apply mt-20 flex items-center flex-col;
			.level{
				@apply text-2xl font-medium mb-8;
			}
			.squares{
				@apply flex flex-col items-center justify-center;
				z-index: 2;
				gap: 15px;
				&.flashEnd {
					transition: 1s gap ease-in;
					gap:0;
					.squareRow{
						transition: 1s gap ease-in;
						gap:0;
					}
				}
				&.scale{
					transition: 1.5s transform ease-in;
					transform: scale(20);
				}
				.squareRow{
					@apply flex items-center;
					gap: 15px;
					.square{
						@apply bg-zinc-800;
						width: 90px;
						height: 90px;
						border-radius: 15px;
						cursor: pointer;
						&.active{
							transition: 0.2s all ease-in !important;
							opacity: 1;
							background-color: var(--red-medium);
						}
						&.flashOnce {
							animation-name: flash;
							transition: none;
							animation-duration: .4s;
							animation-iteration-count: 1;
						}
						&.flashTwice{
							animation-name: flashTwice;
							transition: none;
							animation-duration: .4s;
							animation-iteration-count: 2;
						}
						&.flashEnd {
							transition: 1s all;
							z-index: 1;
							border-radius: 0;
							background-color: #0B0B0B;
						}
						@keyframes flash {
							0% { @apply bg-zinc-800; }
							40% { background-color: var(--red-medium); }
							100% { @apply bg-zinc-800; }
						}
						@keyframes flashTwice {
							0% { @apply bg-zinc-800; }
							40% { background-color: #40de6a; }
							100% { @apply bg-zinc-800; }
						}
					}
				}
			}
			.isFailed{
				@apply flex flex-col justify-center items-center;
				.title{
					@apply font-normal text-4xl;
				}
				button{
					@apply mt-6;
				}
			}
		}
	}
}