.titleSection {
  @apply flex flex-col items-center relative text-center uppercase mb-20;
  .title {
    @apply font-normal text-3xl;
    color: var(--red-medium);
    letter-spacing: 2px;
    .titleBehind {
      @apply font-bold text-8xl opacity-5 absolute;
      top: -30px;
      letter-spacing: 1px;
      color: var(--gray-medium);
      z-index: 0; 
    }
  }
  hr{
    height: 1px;
    width: 70px;
    @apply mt-16;
    border-color: var(--red-light);
  }
}