.speechGameSection{
	@apply laptop:w-2/5 tablet:w-full pl-8;
	.navigateSection{
		@apply absolute;
		transition: 0.1s all ease-in;
		cursor: pointer;
		width: 50px;
		color: var(--red-medium2);
		opacity: 0;
		height: 0;
		transition: 0.2s transform ease;
		&.next{
			top: 36%;
			left: 62%;
			// @apply laptop:top-1/3 laptop:left-2/3;
			animation-name: flash;
			transition: none;
			animation-duration: 1s;
			animation-iteration-count: infinite;
			@keyframes flash {
				0% { color: var(--red-medium2); }
				40% { color: var(--red-light); }
				100% { color: var(--red-medium2); }
			}
		}
		&.previous {
			top: 36%;
			left: 58%;
			// @apply laptop:top-1/3 laptop:left-1/3;
			color: var(--red-medium2)
		}
		&:hover{
			transform: scale(1.2)
		}
		&.show{
			height: auto;
			opacity: 0.8;
		}
	}
	.speechBlock{
		&.paragraph{
			p:first-child{
				@apply mb-4;
			}
			@apply font-extralight text-xl;
		}
		opacity: 0;
		height: 0;
		transition: 0.7s opacity ease;
		&.buttons{
			@apply flex flex-col items-center justify-center;
			button:last-child	{
				@apply mt-6 w-full;
			}
		}
		&.show{
			height: auto;
			opacity: 0.8;
		}
	}
}