.contentProjects {
	animation-name: opacity;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	@keyframes opacity {
		from { @apply opacity-0; }
		to { @apply opacity-100; }
	}
	@apply mb-20;
	.projects{
		@apply flex justify-center items-center;
		.cards{
			@apply flex justify-center items-center w-2/3 flex-wrap tablet:gap-x-48 tablet:gap-y-36 mobile:gap-y-14;
			.card{
				@apply mobile:w-96 tablet:w-full laptop:w-1/3 cursor-pointer;
			}
		}
		.cardBase{
			@apply bg-white py-6 px-8 rounded-lg;
			background-color: var(--gray-dark2);
			h2{
				@apply font-semibold tablet:text-xl mobile:text-base uppercase;
			}
			h5{
				@apply tablet:text-lg mobile:text-sm;
				color: var(--red-medium)
			}
			.footer{
				@apply mt-10;
			}
			.containerLabel {
				@apply rounded-full px-2;
				background-color: var(--red-medium2);
				.label{
					@apply laptop:text-sm mobile:text-xs font-medium;
				}
			}
		}
	}
}