:root {
  /* BLACK */
  --dark-light: #141414;
  --dark: #0b0b0b;
  --dark2: #040404;

  /* WHITE/GRAY */
  --gray-light: #e5e7eb;
  --gray-light2: #d1d5db;
  --gray-medium: #9ca3af;
  --gray-dark2: #222;
  --gray-dark: #1f2237;

  /* RED */
  --red-light: #e2656b;
  --red-medium: #d3555c;
  --red-medium2: #ab4549;
  --red-dark: #e47f847c;
}